/* Base CSS for portfolio */
body, 
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font: 18px/1.2 "Lato", Arial, sans-serif;
    color: #2d3c49;
}

header,
main,
footer {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.fill {
    width: 100%;
}

header,
nav,
footer,
section, 
article,
div {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: #2d3c49;
    line-height: 1.8;
}

a:visited {
    text-decoration: none;
    color: #2d3c49;
}

a:hover {
    text-decoration: none;
    color: #02b3e4;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* header */
.header {
    padding: 0.5rem;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.logo {
    flex: 0 0 70px;
    text-align: center;
}

.nav-container {
    flex: 1 100%;
    margin: 5px 0;
}

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-points {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
}

.content {
    width: 100%;
}

/* splash */
.splash {
    width: 100%;
    min-height: 265px;
    position: relative;
    background: url("../img/desk-(360)400x267.jpg") no-repeat;
    background-size: cover;
}

.splash-content {
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.349);
    top: 20px;
    width: 100%;
    padding: 1.5em;
    color: #fff;
}

.intro-title {
    font-size: 2em;
}

.intro-text {
    font-size: 1.2em;
}


/* portfolio */
.portfolio-items {
    width: 100%;
}

.p-item {
    width: 100%;
    padding: 2em;
    height: 100%;
}
.card {
    width: 100%;
    border: 1px solid #dddddd;
}

.description { 
    padding: 1em;
    
}
.p-preview {
    width: 100%;
}